.container{
    text-align: center;
    margin-top:23px;
    background-color: #0f100e;
    height:100%;
    width:100%;;
}
    
table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 20px;
    font-size: 20px;
    background: #7ac7ee;
    width: 60px;
    height: 50px;
    margin: 6px;
}
.calculator{
    background-color: #0a4b94;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}